/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@font-face {
	font-family: 'Libre Baskerville', serif;
	src: url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
}
/*////////// Global Styles //////////*/
h1 {
	font-family: 'Libre Baskerville', serif;
	font-size: 5em;
	font-style: none;
}

header a{
	color: rgb(152,173,166);
	text-decoration: none;
}

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
	display: block;
	margin: 0 45px 20px;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0px;
}

/* Write all remaining styles here */
